
/**********************MEDIA QUERY ******************

/*
    0 - 480px:      Phone
    481 - 900px:    Tablet portrait
    901 - 1200px:   Tablet landscape
    [1200 - 1800] is where our normal styles apply
    1800px + :      Big desktop
*/


/*Media query for device width less or equal to 900px (Tablet, ipad) */
@media screen and (max-width: 900px){
    .row {max-width: 450px;}

    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 54px; 
    } 

    .row [class^="col-"] {width: 100% !important; }
  
    .footer-social-list{
        width: 20%;
    }
    section{padding: 50px 0 !important;}

    .about-composition{
        position: relative;
        height: 300px;
    }
    
    .composition{width: 300px;}
    .composition--1{height: 300px;}
    .composition--2{
        height: auto;
        left: 50px;
    }

    .testifier-figure{ float: none;}
    
    .testifier-details{
        float: none;
        width: 100%;
        padding-left: 0;
    }

    .nav {padding: 15px 27px;}

    .nav-menu{
       width: 70%;
       background-color: #fff;
       position: absolute;
       top: 85px;
       width: 240px;
       padding: 20px 40px;
       border-radius: 8px;
       left: -320px;
       transition: all 300ms;
       box-shadow: 0 5px 10px #ccc;
    }

    .nav-list{width: 100%;}

    .nav-contents .nav-list .nav-item{
        float: none;
        margin-bottom: 20px;
        list-style: none;
    }
    .nav-content-middle{
        float: right;
        padding-right: 80px;
    }
    .mobile-nav-icon{display: block;}

    .footer-nav{padding: 10px 27px;}
    .footer-nav-brand{float: none;}
    .footer-nav-logo{
        height: 50px;
        vertical-align: middle;
    }
    .footer-brand-name{
        color:#fff;
        font-size: 20px;
    }
    
    .footer-menu{
        float: none;
        margin-top: 20px;
    }
    
    .footer-nav-item{
        float: left;
        list-style: none;
        margin-left: 15px;
    }
  
    .hero-image-container{
        height: 300px;
        width: 300px;
    }

    .hero-image-container img{height: 100%;}
}

/*Media query for device width less or equal to 480px (Mobile phone) */
@media screen and (max-width: 480px){
    .row {padding: 0 27px;}

    .stats {
        margin-right: 21px;
        margin-bottom: 20px;
    }

    .footer-social-list{
        width: 80%;
    }
    .nav-content-middle {
        float: right;
        padding-right: 30px;
    }

    .composition--2 {
        left: 20px;
    }
}






/* html {font-size: 62.5%; } */
/*1200px */
@media only screen and (max-width: 75em) {
    /* html {font-size: 56.25%; 12px}  */
}

/*900px */
@media only screen and (max-width: 56.25em) {
    /* html {font-size: 50%; }  9px*/
}
/*1800px */
@media only screen and (min-width: 112.5em) {
    /* html {font-size: 75%; } */
}
